﻿@model Handyman_Studio.Models.ProductFaultModel

Using Date Template

@{
    ViewBag.Title = "Create";
}
<h2>Dodaj usterkę <span class="lnr lnr-poop"></span></h2>

   
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Fault.FaultId);
        @Html.HiddenFor(m => m.Fault.FaultPartPrice);
        @Html.HiddenFor(m => m.Fault.FaultRepairPrice);
        @Html.HiddenFor(m => m.Fault.FaultStatus);
        @Html.HiddenFor(m => m.Fault.ServicemanId)
        @Html.HiddenFor(m => m.Fault.UserId)
        @Html.HiddenFor(m => m.Fault.FaultSubject)
        @Html.HiddenFor(m => m.Fault.FaultReportDate)
        @Html.HiddenFor(m => m.Fault.FaultDescriptionService)
        @Html.HiddenFor(m => m.UserProduct);


        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.Fault.FaultSubject, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.SelectedProduct, new SelectList(Model.UserProduct, "Id", "SerialNumber", 0), "Wybierz produkt")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fault.FaultDescriptionUser, new { @class = "control-label col-md-2" })
                <div class="col-md-10 col-lg-10 col-xl-10">
                    @Html.TextAreaFor(model => model.Fault.FaultDescriptionUser, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fault.FaultDescriptionUser, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fault.FaultRepairDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10 col-lg-10 col-xl-10">
                    @Html.TextBox("Fault.FaultRepairDate", "", new { @class = "datefield", type = "date" })
                    @Html.ValidationMessageFor(model => model.Fault.FaultRepairDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    @Html.ActionLink("Powrót do listy usterek", "UserIndex")

    <a href="UserIndex">
        <span class="lnr lnr-rocket"></span>
    </a>
