﻿@model Handyman_Studio.Models.Fault

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły<span class="lnr lnr-star"></span></h2>

<div>
        
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultRepairDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultRepairDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultDescriptionUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultDescriptionUser)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.FaultDescriptionService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultDescriptionService)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultPartPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultPartPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultRepairPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultRepairPrice)
        </dd>

    </dl>
</div>
<div class="col-xs-12">
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.FaultId }) <span class="lnr lnr-magic-wand"></span>
</div>
<div class="col-xs-12">
    @Html.ActionLink("Powrót do listy usterek", "Index") <span class="lnr lnr-rocket"></span>
</div>
    
