﻿@model Handyman_Studio.Models.FaultEditModel

@{
    ViewBag.Title = "Edit";
}
<h2>Edytuj usterkę<span class="lnr lnr-magic-wand"></span></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.FaultId)

        <div class="form-group">
            @Html.LabelFor(model => model.FaultRepairDate, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.FaultRepairDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.FaultRepairDate, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FaultRepairPrice, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.FaultRepairPrice, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.FaultRepairPrice, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default"/>
            </div>
        </div>

        @foreach (var item in Model.FaultParts)
        {
            <div class="form-group">
                @Html.DisplayFor(m => item.Name)
                -
                @Html.DisplayFor(m => item.NetPrice) PLN
            </div>
        }
        <div class="form-group">
            @Html.ActionLink("Zarządzaj częściami", "Parts", new {Model.FaultId})
            <span class="lnr lnr-cog"></span>
        </div>


    </div>
}

<div>
    @Html.ActionLink("Powrót do listy usterek", "Index")
     <span class="lnr lnr-rocket"></span>
</div>