﻿@model IEnumerable<Handyman_Studio.Models.Fault>

@{
    ViewBag.Title = "Usterki";
}

<h2>Usterki</h2>

<p>
    @Html.ActionLink("Dodaj nową usterkę", "Create")
</p>
<input id="tableSearch" type="text" placeholder="Wyszukaj...">
<table class="table" id="searchTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultReportDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultRepairDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultDescriptionUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultDescriptionService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultPartPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultRepairPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaultReportDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaultRepairDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaultSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaultDescriptionUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaultDescriptionService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaultPartPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaultRepairPrice)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.FaultId }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.FaultId })
            @if ( item.ServicemanId.IsEmpty() || item.ServicemanId == "Nie przydzielono")
            {
                @:| @Html.ActionLink("Przyjmij", "Claim", new { id = item.FaultId })
            }
        </td>
    </tr>
}

</table>
