﻿@model Handyman_Studio.Models.FaultPartsModel

@{
    ViewBag.Title = "Części";
}
<h2>Części<span class="lnr lnr-cog"></span></h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.FaultId)

        @foreach (var item in Model.FaultParts)
        {
            <div class="form-group">
                @Html.DisplayFor(m => item.Name)
                -
                @Html.DisplayFor(m => item.NetPrice) PLN

                @Html.ActionLink("Usuń część", "DeletePart", new { Model.FaultId, PartId = item.Id })
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.DropDownListFor(m => m.PartId, new SelectList(Model.AllParts, "Id", "Name", 0), "Wybierz część")
                <input type="submit" value="Dodaj część" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
    <span class="lnr lnr-rocket"></span>
</div>