﻿@model IEnumerable<Handyman_Studio.Models.Fault>

<a href="/Products"> Moje urządzenia </a>

<p>
    @Html.ActionLink("Zgłoś nową usterkę", "Create")
</p>
<input id="tableSearch" type="text" placeholder="Wyszukaj...">
<table class="table" id="searchTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServicemanId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultReportDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultRepairDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultDescriptionUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServicemanId)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaultReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaultRepairDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaultSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaultDescriptionUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaultStatus)
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "UserDetails", new { id = item.FaultId })
            </td>
        </tr>
    }

</table>
