﻿@model Handyman_Studio.Models.Fault

<div>
    <h4>Szczegóły<span class="lnr lnr-star"></span></h4>



    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FaultId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServicemanId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServicemanId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultRepairDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultRepairDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultDescriptionUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultDescriptionUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultPartPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultPartPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultRepairPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultRepairPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultStatus)
        </dd>

    </dl>
</div>
<div class="col-xs-12">
    @Html.ActionLink("Powrót do listy usterek", "UserIndex")
        <span class="lnr lnr-rocket"></span>
</div>

