﻿@model Handyman_Studio.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Dane użytkownika</h4>
    <hr/>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edytuj", "Edit", new {id = Model.Id}) <span class="lnr lnr-highlight"></span>
</p>