﻿@model Handyman_Studio.Models.UserIndex

@{
    ViewBag.Title = "Zarejestrowane konta";
}

<h2>Lista użytkowników</h2>

<p>
    @Html.ActionLink("Dodaj nowego użytkownika", "Create")
</p>
<input id="tableSearch" type="text" placeholder="Wyszukaj...">

<table class="table table-hover" id="searchTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].PhoneNumber)
        </th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model.Users)
    {
        <tr data-toggle="collapse" data-target="#accordion_@(item.Id)" class="clickable collapse-row collapsed">
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>

                @if (Model.Write == true)
                { 
                 @: @Html.ActionLink("Edytuj ", "Edit", new { id = item.Id }) |
                 @: @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                }

            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div id="accordion_@(item.Id)" class="collapse">@Html.Action("Details", new { id = item.Id })</div>
            </td>
        </tr>
    }
    </tbody>
</table>


<script>

</script>






