﻿@model Handyman_Studio.Models.Fault

@{
    ViewBag.Title = "Szczegóły usterki";
}

<h2>Szczegóły usterki</h2>

<div>
    <h4>Usterka:</h4>
    <h5>@Html.DisplayFor(model => model.FaultId)</h5>
    <hr />
    @using (Html.BeginForm("GenerateSingleReport", "AccountantPanel", FormMethod.Post))
    {
        <input type="submit" value="Generuj raport"/>
        <input type="hidden"  name="selectedObject" value="@Model.FaultId">
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServicemanId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServicemanId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultRepairDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultRepairDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultDescriptionUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultDescriptionUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultPartPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultPartPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultRepairPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultRepairPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultStatus)
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Powrót to listy wszystkich usterek", "Index")
</p>
