﻿@model IEnumerable<Handyman_Studio.Models.FaultReport>

@{
    ViewBag.Title = "Lista usterek";
}

<h2>Lista usterek:</h2>
 
<div>
@using (Html.BeginForm("GenerateCollectiveReport"))
{
    <input type="submit" value="Generuj raport" />
    <table class="table">
        <tr>
            <th>
                Wybrane do raportu
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fault.FaultId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fault.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fault.ServicemanId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fault.FaultReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fault.FaultRepairDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fault.FaultSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fault.FaultDescriptionUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fault.FaultPartPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fault.FaultRepairPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fault.FaultStatus)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                <input type="checkbox" name="selectedObjects" value="@item.Fault.FaultId">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fault.FaultId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fault.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fault.ServicemanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fault.FaultReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fault.FaultRepairDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fault.FaultSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fault.FaultDescriptionUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fault.FaultPartPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fault.FaultRepairPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fault.FaultStatus)
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Fault.FaultId })
            </td>
        </tr>

        }
    </table>
}
</div>