﻿@model Handyman_Studio.Models.Product

@{
    ViewBag.Title = "Details";
}
<h2>Szczegóły produktu<span class="lnr lnr-star"></span></h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

    </dl>
</div>

<civ class="col-xs-12">
    <div class="col-xs-12">
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id })
        <span class="lnr lnr-highlight"></span>
    </div>

    <div class="col-xs-12">
        @Html.ActionLink("Powrót do listy produktów", "Index")
        <span class="lnr lnr-rocket"></span>
    </div>
</civ>



