﻿@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Dziękujemy za potwierdzenie adresu email. @Html.ActionLink("Naciśnij, aby się zalogować!", "Login", "Account", null, new {id = "loginLink"})
    </p>
</div>