﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Hasło zostalo zmienione. @Html.ActionLink("Naciśnij, aby się zalogować", "Login", "Account", null, new {id = "loginLink"})
    </p>
</div>