﻿@model IEnumerable<Handyman_Studio.Models.Log>

@{
    ViewBag.Title = "Index";
    @Html.ActionLink("Wygeneruj logi bazy danych", "GenerateLogs")
    <span class="lnr lnr-highlight"></span>
}
<input id="tableSearch" type="text" placeholder="Wyszukaj...">
<table class="table" id="searchTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OperationDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvolvedUserAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OperationDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvolvedUserAccount)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.PartId)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.FaultId)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.ProductId)
            </th>
        </tr>
    }

</table>