﻿@{
    ViewBag.Title = "Index";
}

<h2>Kalendarz</h2>
<div id="calender"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Powrót</button>
            </div>
        </div>
    </div>
</div>

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/Calendar/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.FaultDescriptionUser,
                            description: v.FaultDescriptionUser,
                            description1: v.FaultDescriptionUser,
                            description2: v.FaultDescriptionService,
                            start: moment(v.FaultRepairDate),
                            end: null,
                            start1: moment(v.FaultReportDate),
                            start2: moment(v.FaultRepairDate),
                            color: v.ThemeColor,
                            allDay: true,
                            id: v.FaultId
                        });
                    })

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })

            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Data zgłoszenia: </b>' + calEvent.start1.format("DD-MMM-YYYY")));
                        $description.append($('<p/>').html('<b>Data naprawy: </b>' + calEvent.start2.format("DD-MMM-YYYY")));
                        $description.append($('<p/>').html('<b>Opis klienta: </b>' + calEvent.description1));
                        $description.append($('<p/>').html('<b>Opis serwisanta: </b>' + calEvent.description2));

                        $description.append('<a class="btn btn-default" href="/Faults/Details/' + calEvent.id + '">Przejdź do usterki</a>');

                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    }
                })
            }
        })
    </script>
}

