﻿
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
       
        @Html.AntiForgeryToken()
       
        <ul class="nav navbar-nav navbar-right">

            <li class="pad">Witaj, @HttpContext.Current.User.Identity.Name </li>
            <li>@Html.ActionLink("Panel", "PanelsIndex", "Home", null, new { title = "Administration" })</li>
            <li>
            <li>@Html.ActionLink("Ustawienia konta", "Index", "Manage", null, htmlAttributes: new { title = "Manage" })</li>
         
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
            </li>
        </ul>
     
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Rejestracja", "Register", "Account", null, new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logowanie", "Login", "Account", null, new { id = "loginLink" })</li>
    </ul>
}