﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Zablokowano.</h1>
    <h2 class="text-danger">Konto zostało zablokowane, proszę spróbować później.</h2>
</hgroup>