﻿@model Handyman_Studio.Models.IndexViewModel
@{
    ViewBag.Title = "Ustawienia konta";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h3>Dane użytkownika</h3>
    <dl class="dl-horizontal">
        <dd>
            Użytkownik: @Html.DisplayName(Model.UserData.Id)
        </dd>
        <dd>
            Imię: @Html.DisplayName(Model.UserData.Name)
        </dd>
        <dd>
            Nazwisko: @Html.DisplayName(Model.UserData.Surname)
        </dd>
        <dd>
            Email: @Html.Raw(Model.UserData.Mail)
        </dd>
        <dd>
            Numer telefonu: @Html.DisplayName(Model.UserData.PhoneNumer)
        </dd>
    </dl>
    

    <h4>Możesz zmienić swoje ustawienia konta</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dd>

        </dd>
        <dt>Hasło:</dt>
        <dd>
            [
            @(Model.HasPassword ? Html.ActionLink("Zmień hasło", "ChangePassword") : Html.ActionLink("Stwórz hasło", "SetPassword"))
            ]
        </dd>
        <dt>Numer telefonu: </dt>
        <dd>
            [
            @Html.ActionLink("Zmień numer telefonu", "ChangePhoneNumber")
            ]
        </dd>
    </dl>
</div>