﻿@model Handyman_Studio.Models.VerifyPhoneNumberViewModel
@{
    ViewBag.Title = "Powtórz numer telefonu";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("VerifyPhoneNumber", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("phoneNumber", Model.PhoneNumber)
    <h4>Potwierdz numer telefonu:</h4>
    <br/>
    <h5>@Model.PhoneNumber</h5>
    <hr/>
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Potwierdz"/>
        </div>
    </div>
}   

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}