﻿@{
    ViewBag.Title = "O naszej firmie";
}
<h2 class="text-center">@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p class="text-center"><span class="lnr lnr-heart-pulse"</span></p>
 <p class="text-center">

    Nasza firma zajmuje się kompleksową naprawą wszystkiego rodzaju usterek.
   Posiadamy wieloletnie doświadczenie w diagnostyce i naprawie urządzeń elektronicznych.
   Służymy fachową poradą i profesjonalną naprawą.
   Nasze zaplecze magazynowe pozwala nam na szybką naprawę, a w przypadku braku części udostępniamy sprzęt zastępczy lub do czasu kompletnej naprawy staramy się aby używanie urządzenia było możliwe w zakresie wymaganym przez klienta.
   Każda cześć jest sprawdzana i testowana przed zastąpieniem jej w urządzeniu.
   Zadowolenie klienta jest dla nas podstawą i motywacją do jeszcze lepszej pracy i doskonalenie się w tym kierunku.
     Jeśli macie Państwo jakiekolwiek wątpliwości zapraszamy do kontaktu.

 </p>