﻿@{
    ViewBag.Title = "Kontakt";
}
<h2 class="text-center">@ViewBag.Title</h2>

<address>
    <p class="text-center"><span class="lnr lnr-map-marker"></span>
    <p></p>
    Serwis Złota Rączka<br />
    Kraków, aleja Adama Mickiewicza 30, 30-059 <br />
    <abbr title="Phone">Numer telefonu:</abbr>
    425.555.0100
    </p>
</address>
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<section id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3622.0443475972183!2d19.92065051307069!3d50.064338144455576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba0ab5d438b%3A0xd0e9a2ee0c326370!2sWydzia%C5%82+Geologii%2C+Geofizyki+i+Ochrony+%C5%9Arodowiska%2C+AGH%2C+A0!5e0!3m2!1spl!2spl!4v1523834314052" width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>
</section>