﻿@{
    ViewBag.Title = "Home Page";
}
<section id="baner" class="baner">
    <img class="img-fluid" src="~/Images/baner.jpg"/>
</section>


<section id="services" class="row services">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-4 service-card">
                <div class="single-feature d-flex flex-row pb-30 service-card-border">
                    <div class="desc">
                        <h5 class="text-uppercase"><span class="lnr lnr-rocket"></span>pomoc 24/7</h5><hr/>
                        <p>
                            Zawsze gotowi by pomóc
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 service-card">
                <div class="single-feature d-flex flex-row pb-30 service-card-border">
                    <div class="desc">
                        <h5 class="text-uppercase"><span class="lnr lnr-phone"></span>Kontakt</h5><hr/>
                        <p>
                            Zadzwoń lub wypełniej formularz
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 service-card">
                <div class="single-feature d-flex flex-row pb-30 service-card-border">
                    <div class="desc">
                        <h5 class="text-uppercase"><span class="lnr lnr-users"></span>Ludzie</h5><hr/>
                        <p>
                            Wykwalifikowana kadra specjalistów naprawi każdą Twoją usterkę
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>