﻿@model IEnumerable<Handyman_Studio.Models.UserPanels>
@{
    ViewBag.Title = "EmployeeIndex";
}

<div class="row tiles">
    @foreach (var panel in Model)
    {
    <div class="col-xs-12 col-sm-6 col-md-4 tile-outer">
        <a href="/@Html.DisplayFor(m => panel.Address)"  class="tile-inner">
            @Html.DisplayFor(m => panel.Name)
        </a>
    </div> 
    }
</div>
