﻿@model Handyman_Studio.Models.Part

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły części<span class="lnr lnr-star"></span></h2>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hidden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hidden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetPrice)
        </dd>

    </dl>
</div>
<div class="col-xs-12">
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) <span class="lnr lnr-magic-wand"></span>
</div>
<div class="col-xs-12">
    @Html.ActionLink("Powrót do listy części", "Index") <span class="lnr lnr-rocket"></span>
</div>



