﻿@model IEnumerable<Handyman_Studio.Models.Part>

@{
    ViewBag.Title = "Parts";
}


<h2>Części</h2>

<p>
    @Html.ActionLink("Dodaj część", "Create")
    <a href="Create" style="color: #858585">
        <span class="lnr lnr-plus-circle"></span>
    </a>
</p>




<input id="tableSearch" type="text" placeholder="Wyszukaj...">
<table class="table" id="searchTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hidden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hidden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetPrice)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id })  |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>