﻿@model Handyman_Studio.Models.GroupDeleteModel

@{
    ViewBag.Title = "Usuwanie";
}

<h2>Usuń<span class="lnr lnr-cross-circle"></span></h2>
<h3>Jesteś pewny czy chcesz usunąć?</h3>
<div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>

        <div class="form-group">

            @for (var i = 0; i < Model.AllGroups.Count; i++)
            {
                @Html.HiddenFor(m => m.AllGroups[i].Id)
                ;
                @Html.HiddenFor(m => m.AllGroups[i].Name)
                ;
            }

            Nowa grupa dla użytkowników
            <div class="col-md-offset-2 col-md-10">
                @Html.DropDownListFor(m => m.MovedToId, new SelectList(Model.AllGroups, "Id", "Name", Model.Id))
            </div>
        </div>


        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
        @Html.ActionLink("Back to List", "Index")
        <span class="lnr lnr-rocket"></span>
    }
</div>