﻿@model Handyman_Studio.Models.GroupModel

@{
    ViewBag.Title = "Szczegóły";
}
<h2>Szczegóły <span class="lnr lnr-star"></span></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @for (var i = 0; i < Model.AllPanels.Count; i++)
        {
            @Html.HiddenFor(m => m.AllPanels[i].Id)
            ;
            @Html.HiddenFor(m => m.AllPanels[i].Name)
            ;
        }

        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>
        <table>
            @for (var i = 0; i < Model.AllPanels.Count; i++)
            {
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.AllPanels[i].Name)
                    </div>
                    @if (Model.Access[i] == 0)
                    {
                        <div class="col-md-10">Brak uprawnień</div>
                    }
                    else if (Model.Access[i] == 1)
                    {
                        <div class="col-md-10">Odczyt</div>
                    }
                    else
                    {
                        <div class="col-md-10">Zapis</div>
                    }
                </div>
            }
        </table>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy grup", "Index")
     <span class="lnr lnr-rocket"></span>
</div>