﻿@model Handyman_Studio.Models.GroupModel

@{
    ViewBag.Title = "Edycja grup";
}
<h2>Edycja grup <span class="lnr lnr-magic-wand"></span></h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @for (var i = 0; i < Model.AllPanels.Count; i++)
        {
            @Html.HiddenFor(m => m.AllPanels[i].Id)
            ;
            @Html.HiddenFor(m => m.AllPanels[i].Name)
            ;
        }
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>
        <table>
            @for (var i = 0; i < Model.AllPanels.Count ; i++)
            {
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.AllPanels[i].Name)
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Access[i], new SelectList(new List<object>
                        {
                            new {Name = "Brak uprawnień", Value = 0},
                            new {Name = "Odczyt", Value = 1},
                            new {Name = "Zapis", Value = 2}
                        }, "Value", "Name", Model.Access[i]))
                    </div>
                </div>
            }
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

@Html.ActionLink("Back to List", "Index")
 <span class="lnr lnr-rocket"></span>