﻿@model Handyman_Studio.Models.GroupIndex

@{
    ViewBag.Title = "Lista grup";
}

<h2>Lista grup</h2>

<p>
    @Html.ActionLink("Dodaj nową grupę", "Create")
</p>
<input id="tableSearch" type="text" placeholder="Wyszukaj...">
<table class="table" id="searchTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Groups)
        </th>
       
    @foreach (var item in Model.Groups)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Id })
                @if (Model.Write)
                {
                    @: | @Html.ActionLink("Edytuj", "Edit", new { id = item.Id })
                    @: | @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
