﻿body {
    font-family: 'Poppins', sans-serif;
    color: #858585;
}

a {
    color: burlywood;
}

    a:hover {
        color: darksalmon;
        text-decoration: none;
    }

.form-control:focus {
    border-color: darksalmon !important;
    box-shadow: none;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
    -webkit-box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
    -moz-box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}

.navbar-nav li {
    margin-left: 10px;
}

.baner {
    text-align: center;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#tableSearch {
    margin-bottom: 20px;
}

/*kafelki w Panelu*/
.tile-outer {
    padding: 20px;
}

.tile-inner {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    text-align: center;
    font-size: 1.25rem;
}

    .tile-inner:hover {
        z-index: 2;
        -webkit-transition: all 200ms ease-in-out;
        -webkit-transform: scale(1.1);
        -ms-transition: all 200ms ease-in-out;
        -ms-transform: scale(1.1);
        -moz-transition: all 200ms ease-in-out;
        -moz-transform: scale(1.1);
        transition: all 200ms ease-in-out;
        transform: scale(1.1);
    }

.lnr {
    font-size: 40px;
    margin-right: 15px;
    padding: 0 10px;
}

.service-card {
    padding: 15px;
    align-content: center;
}

.service-card-border {
    text-align: center;
    min-height: 180px;
    padding: 15px;
}

.desc {
    width: 100%;
}
.pad{
    padding-right:70px;
    padding-left:70px;
}
.collapse-row {
    cursor: pointer;
}

    .collapse-row.collapsed + tr {
        display: none;
    }

footer {
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
    background-color: #696969;
}
